.counter-box {
  border: 2px solid black;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  background-color: skyblue;
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
}
